@page "/featuremodule/home"

@using FeatureModule.Services

<h3>FeatureModuleHome</h3>

@if (_todoItems is null)
{
	<p><em>Loading...</em></p>
}
else
{
	@foreach (var item in _todoItems)
	{
		<TodoItemCard Title="@item.Title"
					  Description="@item.Description"
					  DueDate="@item.DueDate"
					  IsCompleted="@item.IsCompleted"/>
	}	
}

@code {
	[Inject]
	public TodoItemService TodoItemService { get; set; }

	private TodoItem[]? _todoItems;

	protected override async Task OnInitializedAsync()
	{
		_todoItems = await TodoItemService.GetTodoItems();
	}
}
